# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.sln.docstates
obj/
obj.WPF/
obj.Wpf/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.suo

local.properties
.classpath
.settings/
lib/*.pdb
lib/*.xml
*.dll
*.config
*.zip
*.exe
